#### This was created as a demonstration code for the question on Stack Overflow
The original link the for question: 
https://stackoverflow.com/questions/71350817/python-large-dataframe-calculate-standard-deviation-of-expanding-returns

# Import libraries

In [ ]:
import pandas as pd
from datetime import datetime
import numpy as np

# Generate date range

In [41]:
d_range = pd.date_range(start='01/06/1986', end='12/31/2020', freq='D')
d_range

DatetimeIndex(['1986-01-06', '1986-01-07', '1986-01-08', '1986-01-09',
               '1986-01-10', '1986-01-11', '1986-01-12', '1986-01-13',
               '1986-01-14', '1986-01-15',
               ...
               '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-25',
               '2020-12-26', '2020-12-27', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', length=12779, freq='D')

In [42]:
type(d_range)

pandas.core.indexes.datetimes.DatetimeIndex

# Generate random stock price

In [43]:
price = np.random.randint(10000,93436,size=(len(d_range)))
price

array([48788, 33359, 39572, ..., 16631, 10961, 44451])

# Create Non Time Series DataFrame

In [44]:
df = pd.DataFrame(price, columns=['PERMNO'])
df

       PERMNO
0       48788
1       33359
2       39572
3       30464
4       16780
...       ...
12774   53741
12775   69105
12776   16631
12777   10961
12778   44451

[12779 rows x 1 columns]

In [45]:
df['date'] = d_range
df

       PERMNO       date
0       48788 1986-01-06
1       33359 1986-01-07
2       39572 1986-01-08
3       30464 1986-01-09
4       16780 1986-01-10
...       ...        ...
12774   53741 2020-12-27
12775   69105 2020-12-28
12776   16631 2020-12-29
12777   10961 2020-12-30
12778   44451 2020-12-31

[12779 rows x 2 columns]

# Calculate simple daily returns

In [47]:
df['RETX'] = df['PERMNO'] / df['PERMNO'].shift(1) - 1
df

       PERMNO       date      RETX
0       48788 1986-01-06       NaN
1       33359 1986-01-07 -0.316246
2       39572 1986-01-08  0.186247
3       30464 1986-01-09 -0.230163
4       16780 1986-01-10 -0.449186
...       ...        ...       ...
12774   53741 2020-12-27  2.933611
12775   69105 2020-12-28  0.285890
12776   16631 2020-12-29 -0.759337
12777   10961 2020-12-30 -0.340930
12778   44451 2020-12-31  3.055378

[12779 rows x 3 columns]

# Convert to Time Series DataFrame
set 'date' column to index

In [48]:
df = df.set_index(df['date'])
df

            PERMNO       date      RETX
date
1986-01-06   48788 1986-01-06       NaN
1986-01-07   33359 1986-01-07 -0.316246
1986-01-08   39572 1986-01-08  0.186247
1986-01-09   30464 1986-01-09 -0.230163
1986-01-10   16780 1986-01-10 -0.449186
...            ...        ...       ...
2020-12-27   53741 2020-12-27  2.933611
2020-12-28   69105 2020-12-28  0.285890
2020-12-29   16631 2020-12-29 -0.759337
2020-12-30   10961 2020-12-30 -0.340930
2020-12-31   44451 2020-12-31  3.055378

[12779 rows x 3 columns]

In [49]:
type(df.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [50]:
df.drop('date', axis=1, inplace=True)
df

            PERMNO      RETX
date
1986-01-06   48788       NaN
1986-01-07   33359 -0.316246
1986-01-08   39572  0.186247
1986-01-09   30464 -0.230163
1986-01-10   16780 -0.449186
...            ...       ...
2020-12-27   53741  2.933611
2020-12-28   69105  0.285890
2020-12-29   16631 -0.759337
2020-12-30   10961 -0.340930
2020-12-31   44451  3.055378

[12779 rows x 2 columns]

# Calculate standard deviation of daily returns

## Jan 2020

In [68]:
df['01/01/2020':'01/31/2020']

            PERMNO      RETX
date
2020-01-01   81663  0.104584
2020-01-02   34259 -0.580483
2020-01-03   46575  0.359497
2020-01-04   87814  0.885432
2020-01-05   42853 -0.512003
2020-01-06   31089 -0.274520
2020-01-07   25992 -0.163949
2020-01-08   73468  1.826562
2020-01-09   42138 -0.426444
2020-01-10   80732  0.915895
2020-01-11   46418 -0.425036
2020-01-12   21719 -0.532100
2020-01-13   11955 -0.449560
2020-01-14   12548  0.049603
2020-01-15   72716  4.795027
2020-01-16   20181 -0.722468
2020-01-17   23452  0.162083
2020-01-18   16157 -0.311061
2020-01-19   54567  2.377298
2020-01-20   13313 -0.756025
2020-01-21   69509  4.221137
2020-01-22   14395 -0.792905
2020-01-23   24154  0.677944
2020-01-24   56718  1.348182
2020-01-25   57996  0.022533
2020-01-26   50147 -0.135337
2020-01-27   29111 -0.419487
2020-01-28   39182  0.345952
2020-01-29   75523  0.927492
2020-01-30   35432 -0.530845
2020-01-31   55411  0.563869

In [85]:
std_1 = df['01/01/2020':'01/31/2020']['RETX'].std()
print("The std for Jan is: {}".format(round(std_1,3)))

The std for Jan is: 1.341

## Jan - Feb 2020

In [70]:
df['01/01/2020':'02/29/2020']

            PERMNO      RETX
date
2020-01-01   81663  0.104584
2020-01-02   34259 -0.580483
2020-01-03   46575  0.359497
2020-01-04   87814  0.885432
2020-01-05   42853 -0.512003
2020-01-06   31089 -0.274520
2020-01-07   25992 -0.163949
2020-01-08   73468  1.826562
2020-01-09   42138 -0.426444
2020-01-10   80732  0.915895
2020-01-11   46418 -0.425036
2020-01-12   21719 -0.532100
2020-01-13   11955 -0.449560
2020-01-14   12548  0.049603
2020-01-15   72716  4.795027
2020-01-16   20181 -0.722468
2020-01-17   23452  0.162083
2020-01-18   16157 -0.311061
2020-01-19   54567  2.377298
2020-01-20   13313 -0.756025
2020-01-21   69509  4.221137
2020-01-22   14395 -0.792905
2020-01-23   24154  0.677944
2020-01-24   56718  1.348182
2020-01-25   57996  0.022533
2020-01-26   50147 -0.135337
2020-01-27   29111 -0.419487
2020-01-28   39182  0.345952
2020-01-29   75523  0.927492
2020-01-30   35432 -0.530845
2020-01-31   55411  0.563869
2020-02-01   80565  0.453953
2020-02-02   33046 -0.589822
2020-02-03   87426  1.645585
2020-02-04   23440 -0.731888
2020-02-05   25859  0.103200
2020-02-06   15064 -0.417456
2020-02-07   41747  1.771309
2020-02-08   46047  0.103001
2020-02-09   67227  0.459965
2020-02-10   69192  0.029229
2020-02-11   92407  0.335516
2020-02-12   69572 -0.247113
2020-02-13   66630 -0.042287
2020-02-14   76243  0.144274
2020-02-15   75526 -0.009404
2020-02-16   87787  0.162341
2020-02-17   68492 -0.219793
2020-02-18   90815  0.325921
2020-02-19   54993 -0.394450
2020-02-20   52478 -0.045733
2020-02-21   63724  0.214299
2020-02-22   24005 -0.623297
2020-02-23   19994 -0.167090
2020-02-24   21754  0.088026
2020-02-25   15112 -0.305323
2020-02-26   81692  4.405770
2020-02-27   17329 -0.787874
2020-02-28   55036  2.175948
2020-02-29   87694  0.593393

In [86]:
std_2 = df['01/01/2020':'02/29/2020']['RETX'].std()
print("The std for Jan - Feb is: {}".format(round(std_2,3)))

The std for Jan - Feb is: 1.202

## ...
# Jan - Dec 2020

In [74]:
df['01/01/2020':'12/31/2020']

            PERMNO      RETX
date
2020-01-01   81663  0.104584
2020-01-02   34259 -0.580483
2020-01-03   46575  0.359497
2020-01-04   87814  0.885432
2020-01-05   42853 -0.512003
...            ...       ...
2020-12-27   53741  2.933611
2020-12-28   69105  0.285890
2020-12-29   16631 -0.759337
2020-12-30   10961 -0.340930
2020-12-31   44451  3.055378

[366 rows x 2 columns]

In [88]:
std_12 = df['01/01/2020':'12/31/2020']['RETX'].std()
print("The std for Jan - Dec is: {}".format(round(std_12,3)))

The std for Jan - Dec is: 1.382